.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

.buttons button {
  margin: 0 10px;
}

.choices, .result {
  margin-top: 20px;
}
